@model _23DH114665_MyStore.Models.ViewModel.ProductSearchVM

@{
    ViewBag.Title = "Search Product";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
    <style>
        .search-container, .order-container{
            padding-top:60px;
            display:flex;
            justify-content:center;
            align-items:center
        }
    </style>

</head>
<body>
    <!-- Form tìm kiếm -->
    @using (Html.BeginForm("Index", "Products", FormMethod.Get))
            {
        <div class="form-group search-container">
            @Html.TextBoxFor(m => m.SearchTerm, new
       {
           @class = "form-control",
           placeholder = "Nhập tên, mô tả hoặc chủng loại sản phẩm"
       })
            @* Trường tìm kiếm theo khoảng giá *@
            @Html.TextBoxFor(m => m.MinPrice, new
       {
           @class = "form-control",
           placeholder = "Nhập giá tối thiểu",
           type = "number"
       })

            @Html.TextBoxFor(m => m.MaxPrice, new
       {
           @class = "form-control",
           placeholder = "Nhập giá tối đa",
           type = "number"
       })
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </div>

        <!-- Tùy chọn sắp xếp -->
<div class="form-group order-container">
    Sắp xếp theo:
    @Html.ActionLink("Tên tăng dần", "Index", "Products",
       new
            {
                SortOrder = "name_asc",
           SearchTerm = Model.SearchTerm,
           MinPrice = Model.MinPrice,
           MaxPrice = Model.MaxPrice
            },
       null) |
    @Html.ActionLink("Tên giảm dần", "Index", "Products",
       new
       {
           SortOrder = "name_desc",
           SearchTerm = Model.SearchTerm,
           MinPrice = Model.MinPrice,
           MaxPrice = Model.MaxPrice
       },
        null) |
            @Html.ActionLink("Giá tăng dần", "Index", "Products",
        new
        {
            SortOrder = "price_asc",
        SearchTerm = Model.SearchTerm,
        MinPrice = Model.MinPrice,
        MaxPrice = Model.MaxPrice
        },
        null) |
            @Html.ActionLink("Giá giảm dần", "Index", "Products",
           new
                {
                    SortOrder = "price_desc",
               SearchTerm = Model.SearchTerm,
               MinPrice = Model.MinPrice,
               MaxPrice = Model.MaxPrice
                },
           null) |
    </div>
    }
    @* Form kết quả tìm kiếm *@
    @Html.Partial("PVListProduct", Model)
</body>
</html>

